<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">
    Add Details
  </div>
</div>
<mat-tab-group>
  <mat-tab label="Add Work Method">
    <app-work-method></app-work-method>
  </mat-tab>
  <mat-tab label="Add Employee Deatails">
    <app-employee-detail></app-employee-detail>
  </mat-tab>
  <mat-tab label="Add Employee Salary">
    <app-employee-salary></app-employee-salary>
  </mat-tab>
  <mat-tab label="Company Expenses">
    <app-company-expence></app-company-expence>
  </mat-tab>
</mat-tab-group>
