.Header {
  background-color: aqua;
}
div.container {
  text-align: center;
}

ul.myUL {
  display: inline-block;
  text-align: left;
  list-style: none;
}
ul.myUL1 li {
  display: inline-block;
  text-align: right;
  list-style: none;
}
.mat-dialog-containe{
  overflow:hidden;
}
