<h2 mat-dialog-title>Install Angular</h2>
<mat-dialog-content class="mat-typography">
  <div class="row">
    <div class="col-sm-12">
        <label for="insertuser" class="content">Are you sure want to delete  ?</label>
    </div>
</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button style="margin-right: 10px;background-color: brown;border-radius: 10px;" (click)="onCansel()">Cancel</button>
  <button  style="background-color: rgb(47, 137, 255);border-radius: 10px;" (click)="onClose()">Yes</button>
</mat-dialog-actions>


<!-- Copyright 2020 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
